h1 {
  font-size: 24px;
  color: #1876F2;
  font-weight: 400;
  margin-bottom: 22px;
}

.stepSection {
  width: 500px;
  margin: 50px auto;


  ul {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    li {
      cursor: pointer;
      color: #B4B4B4;

      .stepNumber {
        display: inline-block;
        width: 28px;
        height: 28px;
        padding: 5px;
        border-radius: 50%;
        margin-right: 5px;
        border: 1px solid #B4B4B4;
      }

    }

    li.active {
      color: #1876F2;


      .stepNumber {
        color: #fff;
        background: #1876F2;
        border: 1px solid #1876F2;
      }
    }
  }
}

.inputForm {
  width: 500px;
  margin: 50px auto;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  padding: 50px;

    label {
      float: left;
    }

  .inputgroup {
    width: 100%;
    margin-bottom: 50px;

    input {
      width: 100%;
      border: none;
      border-bottom: 2px solid #E5E5E5;
      outline: none;
      padding-bottom: 14px;
      font-size: 14px;
      color: #9B9B9B;
      font-weight: 300;

      &:focus {
        border-bottom: 2px solid #1876F2;
      }
    }
  }

  .term-text {
    text-align: left;
    margin-bottom: 30px;
    font-size: 12px;
    color: #999999;
    opacity: 0.8;
    line-height: 16px;

    a {
      color: #999999;
      text-decoration: underline;

      &:hover {
        color: #1876F2;
      }
    }
  }

  .next {
    width: 100%;
    font-size: 14px;
    color: #FFFFFF;
    background: #8F9CAD;
    border-radius: 100px;
    border: none;
    padding: 14px;
    outline: none;

    &:hover {
      background: #1876F2;
    }
  }

  .card-info {
    display: flex;
    justify-content: space-between;
    .input-group {
      width: auto;
    }

    .cardNumber {
      flex: 3;
      margin-right: 50px;
      input {
        padding-left: 40px;
        background: url('../assets/cardImage.png') 10px 3px no-repeat transparent;
      }
    }

    .goodThrough {
      flex: 1;
      margin-right: 50px;
    }

    .cvc {
      flex: 1;
    }
  }

  .area-select {
    display: inline-flex;

    select {
      text-align: center;
      border: none;
      background: transparent;
      font-size: 14px;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      border-bottom: 1px solid #9B9B9B;
      box-sizing: content-box;
      padding-bottom: 5px;
    }
  }

  label {
    font-weight: normal;
    font-size: 14px;
  }
}

.clearFix {
  clear: both;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9B9B9B;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9B9B9B;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9B9B9B;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9B9B9B;
}