.inputForm {
  width: 500px;
  margin: 50px auto;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  padding: 50px;

  label {
    float: left;
  }

  .input-group {
    width: 100%;
    margin-bottom: 50px;

    input {
      width: 100%;
      border: none;
      border-bottom: 2px solid #E5E5E5;
      outline: none;
      padding-bottom: 14px;
      font-size: 14px;
      color: #9B9B9B;
      font-weight: 300;

      &:focus {
        border-bottom: 2px solid #1876F2;
      }
    }
  }


  .next {
    width: 100%;
    font-size: 14px;
    color: #FFFFFF;
    background: #8F9CAD;
    border-radius: 100px;
    border: none;
    padding: 14px;
    outline: none;

    &:hover {
      background: #1876F2;
    }
  }

  .area-select {
    display: inline-flex;
    select {
      text-align: center;
      border: none;
      background: transparent;
      font-size: 14px;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
      border-bottom: 1px solid #9B9B9B;
      box-sizing: content-box;
      padding-bottom: 5px;
    }
  }

  label {
    font-weight: normal;
    font-size: 14px;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9B9B9B;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9B9B9B;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9B9B9B;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9B9B9B;
}