.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, .18);
  padding: 18px 0px;
  font-size: 16px;

  span {
    margin-left: 15px;
    color: #1876F2;
  }
}
